body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Srisakdi', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */

h1 {
    width: 975px;
    height: 144px;
    font-family: Roboto;
    font-size: 6rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
  }
  
  h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 1,5rem;
    padding: 0;
    margin: 0;
  }
  h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 1,2rem;
    padding: 0;
    margin: 0;
  }
  h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  hr {
    border: 1px solid chartreuse;
  }

/* <!-- section barre de nav --> */
/* nav{
    position: fixed;
    background-color: #ffffff;
} */

nav{
display: flex;
flex-direction: row;
justify-content: space-between;
height: 14vh;
min-width:100vw;
position: fixed;
background-color: #ffffff;
z-index: 20;
/* z-index sert a pousser le carrousel en profondeur z=20px */
}

#imagelogo {
    width: 18.6vh;
}

button {
    background-color: white;
    border: 0ex;
    color:black;

}
button:hover{
    text-decoration: underline;
}

button a{
    text-decoration: none;
    color:black;
    font-size: 3vh;
}

#section-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60vw;
}

/*  section home */

#section1 {
    background-image: url("./images/img-landing/image-home-web.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 86vh;
    color:white;
    display: flex;
    align-items: center;
}

.bloctext {
    margin-left:10rem;
    margin-right:20rem;
}
#portrait-soustitre {
    padding: 1rem 0 0 0;
  
}
#portrait-description {
    width: 526px;
    height: 235px;
    font-size: 1.2rem;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    padding: 1rem 0 0 0;
  
}
/* section portrait */

#section2{
    background-image: url("./images/img-landing/image-JeanYvesThibert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color:white;
    display: flex;
    align-items: center;
}

/* section travaux 
#section3{
    background-image: url("./images/img-landing/work1-ABCmarket-1440x1000.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: black;
    display: flex;
    align-items: center;
}
*/
#carousel-titre {
    line-height: 2rem;
    font-display: bold;
    color: red; 
    font-size: 1.8rem;
    margin: 0 0 0.8rem 0;
}

/* section contact */
#contact {
    text-align: center;
    line-height: 1.6rem;
    margin: 2rem 15rem 2rem 15rem;
    padding: 1.2rem;
}
#contact-nom {
    font-weight: bolder;
    font-size: 1.3rem
    }  

/* section texte contact 
#message-social-media {
    text-align: center;
    line-height: 1,3rem;
    margin: 1rem 15rem 1rem 15rem;
    padding: 0.5rem;
} */

/* section footer social media */
a img{
    width: 2rem;
    height: 2rem;
}

#social-media-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 2rem;
}
.socialIcons {
    display: flex;
    align-items: center;
   
}

#bottom-message {
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem 0 1rem 0;
}